<header>
    <h1>Meu Site</h1>
    <nav>
        <ul>
            <li><a href="#">Início</a></li>
            <li><a href="#">Cliente</a></li>
            <li><a href="#">Documento</a></li>
            <li><a href="#">Item Avaliação</a></li>
            <li><a href="#">Norma</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="intro">
        <h2>Bem-vindo ao Meu Site!</h2>
        <p>Este é um exemplo básico de uma página inicial com HTML e CSS.</p>
    </section>
</main>
<router-outlet />

<footer>
    <p>&copy; 2025 Meu Site. Todos os direitos reservados.</p>
</footer>


